### Extract / Transform de PRODUCTOS + OUTPUT CSV

In [1]:
from utils.login import get_json

data = get_json("products", params={"limit": 0, "skip": 0})
print("Total:", data.get("total"))

Total: 194

In [2]:
from ETL.extract.extract_products import extract_products

df = extract_products()
print(df.shape)
df.tail()

(194, 27)

,id,title,description,category,price,discountPercentage,rating,stock,tags,brand,...,minimumOrderQuantity,images,thumbnail,dimensions.width,dimensions.height,dimensions.depth,meta.createdAt,meta.updatedAt,meta.barcode,meta.qrCode
189,190,IWC Ingenieur Automatic Steel,The IWC Ingenieur Automatic Steel watch is a d...,womens-watches,4999.99,9.45,2.93,90,"[watches, luxury watches]",IWC,...,1,[https://cdn.dummyjson.com/product-images/wome...,https://cdn.dummyjson.com/product-images/women...,24.77,24.66,6.09,2025-04-30T09:41:02.054Z,2025-04-30T09:41:02.054Z,7438522857639,https://cdn.dummyjson.com/public/qr-code.png
190,191,Rolex Cellini Moonphase,The Rolex Cellini Moonphase watch is a masterp...,womens-watches,15999.99,4.11,3.83,52,"[watches, luxury watches]",Rolex,...,1,[https://cdn.dummyjson.com/product-images/wome...,https://cdn.dummyjson.com/product-images/women...,12.50,20.63,25.04,2025-04-30T09:41:02.054Z,2025-04-30T09:41:02.054Z,4608359670564,https://cdn.dummyjson.com/public/qr-code.png
191,192,Rolex Datejust Women,The Rolex Datejust Women's watch is an iconic ...,womens-watches,10999.99,15.94,2.86,4,"[watches, luxury watches, women's watches]",Rolex,...,1,[https://cdn.dummyjson.com/product-images/wome...,https://cdn.dummyjson.com/product-images/women...,23.23,7.19,28.95,2025-04-30T09:41:02.054Z,2025-04-30T09:41:02.054Z,1265605585958,https://cdn.dummyjson.com/public/qr-code.png
192,193,Watch Gold for Women,The Gold Women's Watch is a stunning accessory...,womens-watches,799.99,18.34,4.24,0,"[watches, women's watches]",Fashion Gold,...,1,[https://cdn.dummyjson.com/product-images/wome...,https://cdn.dummyjson.com/product-images/women...,18.85,28.59,7.21,2025-04-30T09:41:02.054Z,2025-04-30T09:41:02.054Z,8333241081413,https://cdn.dummyjson.com/public/qr-code.png
193,194,Women's Wrist Watch,The Women's Wrist Watch is a versatile and fas...,womens-watches,129.99,12.60,3.52,12,"[watches, women's watches]",Fashion Co.,...,5,[https://cdn.dummyjson.com/product-images/wome...,https://cdn.dummyjson.com/product-images/women...,26.10,22.03,21.61,2025-04-30T09:41:02.054Z,2025-04-30T09:41:02.054Z,2093537854573,https://cdn.dummyjson.com/public/qr-code.png

In [3]:
from ETL.extract.extract_products import extract_products
from ETL.transform.transform_products import transform_products

df_clean = transform_products(extract_products())
df_clean.head()

,product_id,titulo,descripcion,precio,descuento_pct,rating,stock,marca,categoria
0,1,Essence Mascara Lash Princess,The Essence Mascara Lash Princess is a popular...,9.99,10.48,2.56,99,Essence,beauty
1,2,Eyeshadow Palette with Mirror,The Eyeshadow Palette with Mirror offers a ver...,19.99,18.19,2.86,34,Glamour Beauty,beauty
2,3,Powder Canister,The Powder Canister is a finely milled setting...,14.99,9.84,4.64,89,Velvet Touch,beauty
3,4,Red Lipstick,The Red Lipstick is a classic and bold choice ...,12.99,12.16,4.36,91,Chic Cosmetics,beauty
4,5,Red Nail Polish,The Red Nail Polish offers a rich and glossy r...,8.99,11.44,4.32,79,Nail Couture,beauty

### Extract / Transform de CARTS + OUTPUT CSV

In [4]:
from utils.login import get_json

data = get_json("carts", params={"limit": 0, "skip": 0})
print("Total:", data.get("total"))

Total: 50

In [5]:
from ETL.extract.extract_carts import extract_all_carts,carts_to_items_df

carts_raw = extract_all_carts()
carts_raw = carts_to_items_df(carts_raw)
print(carts_raw.shape)
carts_raw.tail()

(198, 9)

,cart_id,user_id,product_id,title,price,quantity,discountPercentage,total,discounted_total
193,49,86,158,Sunglasses,22.99,5,6.45,114.95,107.54
194,49,86,110,Selfie Lamp with iPhone,14.99,4,19.87,59.96,48.05
195,49,86,124,iPhone X,899.99,4,8.03,3599.96,3310.88
196,50,52,25,Green Bell Pepper,1.29,1,1.20,1.29,1.27
197,50,52,85,Man Plaid Shirt,34.99,1,3.70,34.99,33.70

In [6]:
from ETL.transform.transform_carts import transform_cart_items

cart_items_clean = transform_cart_items(carts_raw)
print(cart_items_clean.shape)
cart_items_clean.tail()

(198, 9)

,cart_id,user_id,product_id,titulo,precio,cantidad,descuento_pct,total,total_con_descuento
193,49,86,158,Sunglasses,22.99,5,6.45,114.95,107.54
194,49,86,110,Selfie Lamp with iPhone,14.99,4,19.87,59.96,48.05
195,49,86,124,iPhone X,899.99,4,8.03,3599.96,3310.88
196,50,52,25,Green Bell Pepper,1.29,1,1.20,1.29,1.27
197,50,52,85,Man Plaid Shirt,34.99,1,3.70,34.99,33.70

### Extract / Transform de USERS + OUTPUT CSV

In [7]:
from ETL.extract.extract_users import extract_users
df_users_raw = extract_users()
print(df_users_raw.shape)
df_users_raw.tail()

(208, 52)

,id,firstName,lastName,maidenName,age,gender,email,phone,username,password,...,company.address.city,company.address.state,company.address.stateCode,company.address.postalCode,company.address.coordinates.lat,company.address.coordinates.lng,company.address.country,crypto.coin,crypto.wallet,crypto.network
203,204,Mateo,Perez,,45,male,mateo.perez@x.dummyjson.com,+44 704-302-8113,mateop,mateoppass,...,Denver,Arizona,AZ,10591,18.569908,-50.337520,United States,Bitcoin,0xb9fc2fe63b2a6c003f1c324c3bfa53259162181a,Ethereum (ERC20)
204,205,Aubrey,Garcia,Gray,28,female,aubrey.garcia@x.dummyjson.com,+1 470-576-9130,aubreyg,aubreygpass,...,San Francisco,Minnesota,MN,58649,3.609112,-35.397672,United States,Bitcoin,0xb9fc2fe63b2a6c003f1c324c3bfa53259162181a,Ethereum (ERC20)
205,206,Elena,Baker,,34,female,elena.baker@x.dummyjson.com,+49 978-346-6960,elenab,elenabpass,...,San Antonio,Idaho,ID,50546,1.356153,175.897893,United States,Bitcoin,0xb9fc2fe63b2a6c003f1c324c3bfa53259162181a,Ethereum (ERC20)
206,207,Jace,Smith,,41,male,jace.smith@x.dummyjson.com,+1 634-923-7779,jaces,jacespass,...,San Francisco,Arizona,AZ,19079,2.230209,84.272010,United States,Bitcoin,0xb9fc2fe63b2a6c003f1c324c3bfa53259162181a,Ethereum (ERC20)
207,208,Samantha,Martinez,Lopez,27,female,samantha.martinez@x.dummyjson.com,+49 493-402-2473,samanthal,samanthalpass,...,San Diego,Massachusetts,MA,75183,-43.398744,-176.705236,United States,Bitcoin,0xb9fc2fe63b2a6c003f1c324c3bfa53259162181a,Ethereum (ERC20)

In [8]:
from ETL.transform.transform_users import transform_users
df_users_clean = transform_users(df_users_raw)
print(df_users_clean.shape)
df_users_clean.tail()

(208, 14)

,user_id,nombre,apellido,email,genero,edad,telefono,usuario,fecha_nacimiento,ciudad,provincia,cp,direccion,email_valido
203,204,Mateo,Perez,mateo.perez@x.dummyjson.com,male,45,+44 704-302-8113,mateop,1979-01-26,Jacksonville,Texas,12771,798 Ninth Street,True
204,205,Aubrey,Garcia,aubrey.garcia@x.dummyjson.com,female,28,+1 470-576-9130,aubreyg,1996-11-05,Los Angeles,South Carolina,78498,1221 Washington Street,True
205,206,Elena,Baker,elena.baker@x.dummyjson.com,female,34,+49 978-346-6960,elenab,1990-03-16,San Francisco,Tennessee,40535,117 Maple Street,True
206,207,Jace,Smith,jace.smith@x.dummyjson.com,male,41,+1 634-923-7779,jaces,1983-12-18,Seattle,South Dakota,60977,1856 Tenth Street,True
207,208,Samantha,Martinez,samantha.martinez@x.dummyjson.com,female,27,+49 493-402-2473,samanthal,1997-09-03,Los Angeles,New Hampshire,53772,1890 First Street,True

#### MAIN.PY

In [9]:
!python3 main.py

Iniciando ETL de API - Productos
- Datos Crudos: (194, 27)
- Datos Limpios: (194, 9)
- CSV Guardado en outputs/products_clean.csv (shape=(194, 9))
ETL de API - Productos finalizado.

Iniciando ETL de API - Carts
- Datos Crudos: (198, 9)
- Datos Limpios: (198, 9)
- CSV Guardado en outputs/carts_clean.csv (shape=(198, 9))
ETL de API - Carts finalizado.

Iniciando ETL de API - Usuarios
- Datos Crudos: (208, 52)
- Datos Limpios: (208, 14)
- CSV Guardado en outputs/users_clean.csv (shape=(208, 14))
ETL de API - Usuarios finalizado.